/*Estilos Generales*/

* {
  margin: 0;
  padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*Estilos del Body*/
body {
  height: 100vh;
  background-color: #2B807B;
	text-align: center;
}

.centrar-flex {
	display: flex;
	justify-content: center;
  align-items: center;
}

#contenedor {
  flex-wrap: wrap;
	flex-direction: column;
  background-color: whitesmoke;
  border: solid black 4px;
  width: 50vh;
  height: 30vh;
}

/*Texto*/
#color {
	font-size: 60px;
	font-weight: bold;
}

/*Boton*/

#boton {
	font-size: 20px;
	color: white;
	border-radius: 30%;
	background-color: #008CBA;
	margin: 15px;
	padding: 10px 30px;
	border: 3px solid #008CBA;
	cursor: pointer;
	user-select: none;
}

#boton:hover {
	filter: invert(90%);
}